body{
  font-family: "Architects Daughter", sans-serif;
  background-color: black;
}
.body{
  display: flex;
  flex-direction: column;
  height: 35vw;
  width: 60vw;
  margin: 10vh auto;
  background-color: white;

}
.top{
  width: 100%;
  height: 25%;
}
.top img{
  height: 90%;
  width: auto;
  margin-top: 0.8%;
  margin-left: 85%;
        }
.top h1{
  position: absolute;
  font-size: 3vw;
  padding-left: 1%;
  
}
.middle{
  display: flex;
  height: 55%;
  width: 100%;
}
.middle-left{
  width: 50%;
}
.middle-right{
  width: 50%;
}
.middle-right form * {
  margin-left: 10%;
  font-family: 'Architects Daughter', sans-serif;
  font-size: 2vw;
  background: none;
  border: none;
  border-bottom: 1px solid gray;
}
.middle-left p{
  line-height: 1.3;
  margin-top: 0;
  font-size: 2vw;
  margin-left: 1%;
}
.middle-left p:nth-child(2) {
  font-weight: bold;
}
.bottom{
  display: flex;
  justify-content: center;
  padding-top: 0.5vw
}
.bottom * {
  text-decoration: none;
  color: black;
  background-color: lightgray;
  border: 2px solid;
  border-color: lightgray gray gray lightgray;
}
.button:hover{
  background-color: lightgray;
  border-color: lightgray lightgray lightgray lightgray;
}
.button:active{
  background-color: gray;
  border-color: gray lightgray  lightgray gray;
}